body{ 
    background-color: blanchedalmond; }
    
    h1{
        text-align:center; 
        font-size:45px;
        font-family: cursive;
        background-color: thistle;
    }

    p{
        text-align:center; 
        font-size:25px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    }

    h2{
        text-align:center; 
        font-size:30px;
        font-family:cursive;
        background-color:thistle ;
    }
    h3{
        text-align:center; 
        font-size:30px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    }
    
    // Vianney Jaquez Larrañaga
